body {
    background-color: gray;
}
#container {
    background-color: rgb(56, 73, 125);
    width: 300px;
    height: 500px;
    border-radius: 25px;
    /* margin: auto;  This will make it be in the center horizontaly*/
    margin-top: 5%;
    margin-left: 5%;
    padding: 30px;
    }
button {
    width: 67px;
    height: 30px;
    margin: 5%;
    border-radius: 7px;
    
}
button:hover {
    background-color: rgb(124, 131, 128);
    color: aliceblue;
}

button.backSpace {
    width: 150px;
}
.clear {
    width: 80px;
}
.screen {
    text-align: right;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    height: 25px;
    
}
.result {
    width: 270px;
    height: 50px;
}